<html>
    <head>
        <title>Inventory</title>
        <link rel="stylesheet" type='text/css' href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css" integrity="sha512-8bHTC73gkZ7rZ7vpqUQThUDhqcNFyYi2xgDgPDHc+GXVGHXq+xPjynxIopALmOPqzo9JZj0k6OqqewdGO3EsrQ==" crossorigin="anonymous" />
        <link rel="stylesheet" type='text/css' href="/stylesheets/app.css"/>
        <meta name="viewport" content="initial-scale=1, maximum-scale=1">
    </head>
    <body>
        <div class="ui fixed menu">
            <div class="ui container">
                <div class="header item "><i class="braille icon"></i><a class="name-logo" href="/inventory">Inventario</a></div>
                <div class="right menu">
                    <div class="header item"><a href="/logout">Log Out</a></div>
                </div>
            </div>
        </div>